.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-item {
  color: white;
}

.navbar-item:hover {
  color: white;
  background-color: rgba(138, 123, 182, 255);
}